{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumos CRM Public API",
    "description": "API publica para integraciones externas con Lumos CRM",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tu-entorno-lumos.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "description": "Lista contactos disponibles para el token autenticado",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Cantidad maxima de resultados",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contactos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error de validacion o request invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Crea un nuevo contacto",
        "requestBody": {
          "description": "Datos del contacto a registrar",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Contacto creado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Error de validacion o request invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "delete": {
        "description": "Elimina un contacto por id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador unico del contacto",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contacto eliminado",
            "content": {}
          },
          "400": {
            "description": "Error de validacion o request invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/contacts/webhook": {
      "post": {
        "description": "Evento emitido cuando cambia un contacto",
        "requestBody": {
          "description": "Carga util del evento",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retorna 200 para confirmar recepcion"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Contact": {
        "required": [
          "id",
          "fullName",
          "email"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador unico del contacto",
            "type": "string"
          },
          "fullName": {
            "description": "Nombre completo",
            "type": "string"
          },
          "email": {
            "description": "Correo principal",
            "type": "string",
            "format": "email"
          },
          "company": {
            "description": "Empresa asociada",
            "type": "string"
          },
          "status": {
            "description": "Estado comercial del contacto",
            "type": "string"
          }
        }
      },
      "NewContact": {
        "required": [
          "fullName",
          "email"
        ],
        "type": "object",
        "properties": {
          "fullName": {
            "description": "Nombre completo",
            "type": "string"
          },
          "email": {
            "description": "Correo principal",
            "type": "string",
            "format": "email"
          },
          "company": {
            "description": "Empresa asociada",
            "type": "string"
          }
        }
      },
      "ContactWebhookEvent": {
        "required": [
          "eventType",
          "occurredAt",
          "data"
        ],
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "example": "contact.updated"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}